<h2>
  Here are some links to help you start: </h2>


<mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp></mat-datepicker>
</mat-form-field>

<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="headerRightMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #headerRightMenu="matMenu">
    <button mat-menu-item>Item1</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>
<mat-toolbar color="primary" class="position-fixed header-area">
  <mat-toolbar-row class="d-flex justify-content-between">
    <div>Hello</div>
    <div class="top-right-div-width d-flex justify-content-end">
      <button mat-icon-button [matMenuTriggerFor]="headerRightMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #headerRightMenu="matMenu">
        <button mat-menu-item>Item1</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

